.aboutcontainer {
  display: flex;
  justify-content: center;
  width: 100%;
}
.container35 {
  display: flex;
  flex-direction: column;
  width: 35vw;
  margin: 1.5vh;
  box-sizing: border-box;
}
.container40 {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 1.5vh;
  padding: 1.5vh 0;
  box-sizing: border-box;
  margin-bottom: 100px;
}
.h1 {
  font-size: 50px;
  margin: 0;
}
.title {
  margin:0;
}
.paragraf {
  margin: 1.5vh 0;
  font-size: 14px;
}
.anggota {
  margin: 0 3vh;
  font-size: 14px;
}
.aboutus {
  width: 100%;
  height: 100%;
}
.contactus {
  background-color: black;
  color: white;
  margin-top: 3vh;
  padding: 8px;
  border-radius: 1vh;
  width: 15vh;
}
