.containerlp {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 3rem 10rem;
  gap: 30px;
}

.containerlp2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 10rem;
  gap: 30px;
}

.img1 {
  width: 50%;
  height: 450px;
  max-width: 50%;
  background-position: top;
  object-fit: cover;
  border-radius: 10px;
}

.img2 {
  height: 100px;
  width: 92%;
  padding: 20px 20px;
  border-radius: 25px;
  height: 300px;
}

.img3 {
  height: 100px;
  width: 92%;
  padding: 20px 20px;
  border-radius: 25px;
  height: 300px;
}

.img4 {
  height: 100px;
  width: 92%;
  padding: 20px 20px;
  border-radius: 25px;
  height: 300px;
}
