/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 10rem;
  color: black;
}

.image {
  width: 101px;
  height: 51px;
}

.navA {
  margin: 0 2rem;
  color: black;
  text-decoration: none;
}

.navbtn {
  padding: 10px;
  width: 130px;
  cursor: pointer;
  background-color: #5551ff;
  border: none;
  outline: none;
  border-radius: 10px;
  margin-left: 2rem;
}

.navbtn:hover {
  background-color: #6662ff;
  transition: 0.7s;
}

.buttona {
  color: #cfcfcf;
  text-align: center;
  text-decoration: none;
}
