.game {
  display: flex;
  margin-top: 50px;
  flex-wrap: nowrap;
  align-items: center;
}
.game_you {
  display: flex;
  flex-direction: column;
  margin-right: 2.5rem;
}
.game_you .text {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 300;
  margin-bottom: 2.5rem;
  font-weight: bold;
}
.game_you .icon {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  border-color: transparent;
  border: 25px solid;
  background-size: 50%;
  transform: none !important;
}
.game_you .icon_paper {
  background-color: #fff;
  background-image: url("../public/assets/kertas.png");
  background-position: center;
  background-repeat: no-repeat;
  border-color: #5551ff;
  transform: none !important;
}
.game_you .icon_paper_winner {
  box-shadow: 0px 0px 0px 100px rgba(255, 255, 255, 0.05),
    0px 0px 0px 150px rgba(255, 255, 255, 0.025);
  border-color: #5aff51;
}
.game_you .icon_scissors {
  background-color: #fff;
  background-image: url("../public/assets/gunting.png");
  background-position: center;
  background-repeat: no-repeat;
  border-color: #5551ff;
}
.game_you .icon_scissors_winner {
  box-shadow: 0px 0px 0px 50px rgba(255, 255, 255, 0.07),
    0px 0px 0px 100px rgba(255, 255, 255, 0.05),
    0px 0px 0px 150px rgba(255, 255, 255, 0.025);
  border-color: #5aff51;
}
.game_you .icon_rock {
  background-color: #fff;
  background-image: url("../public/assets/batu.png");
  background-position: center;
  background-repeat: no-repeat;
  border-color: #5551ff;
}
.game_you .icon_rock_winner {
  box-shadow: 0px 0px 0px 50px rgba(255, 255, 255, 0.07),
    0px 0px 0px 100px rgba(255, 255, 255, 0.05),
    0px 0px 0px 150px rgba(255, 255, 255, 0.025);
  border-color: #5aff51;
}
.game_play {
  display: flex;
  flex-direction: column;
  margin: 0 2rem;
}
.game_play .text {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 10px;
}
.game_play .text_win {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 10px;
  color: #5aff51;
}
.game_play .text_lose {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 10px;
  color: #ff5151;
}
.game_play .play_again {
  background-color: #fbff51;
  text-decoration: none !important;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 0.8rem;
  font-weight: bold;
}
.game_play .play_again:hover {
  color: red;
}
.game_com {
  display: flex;
  flex-direction: column;
  margin-left: 2.5rem;
}
.game_com .text {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 300;
  margin-bottom: 2.5rem;
  font-weight: bold;
}
.game_com .icon {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  border-color: transparent;
  border: 25px solid;
  background-size: 50%;
  transform: none !important;
}
.game_com .icon_paper {
  background-color: #fff;
  background-image: url("../public/assets/kertas.png");
  background-position: center;
  background-repeat: no-repeat;
  border-color: #5551ff;
}
.game_com .icon_paper_winner {
  box-shadow: 0px 0px 0px 50px rgba(255, 255, 255, 0.07),
    0px 0px 0px 100px rgba(255, 255, 255, 0.05),
    0px 0px 0px 150px rgba(255, 255, 255, 0.025);
  border-color: #5aff51;
}
.game_com .icon_scissors {
  background-color: #fff;
  background-image: url("../public/assets/gunting.png");
  background-position: center;
  background-repeat: no-repeat;
  border-color: #5551ff;
}
.game_com .icon_scissors_winner {
  box-shadow: 0px 0px 0px 50px rgba(255, 255, 255, 0.07),
    0px 0px 0px 100px rgba(255, 255, 255, 0.05),
    0px 0px 0px 150px rgba(255, 255, 255, 0.025);
  border-color: #5aff51;
}
.game_com .icon_rock {
  background-color: #fff;
  background-image: url("../public/assets/batu.png");
  background-position: center;
  background-repeat: no-repeat;
  border-color: #5551ff;
}
.game_com .icon_rock_winner {
  box-shadow: 0px 0px 0px 50px rgba(255, 255, 255, 0.07),
    0px 0px 0px 100px rgba(255, 255, 255, 0.05),
    0px 0px 0px 150px rgba(255, 255, 255, 0.025);
  border-color: #5aff51;
}
.game_com .counter {
  height: 250px;
  width: 250px;
  border-radius: 50%;
  background-color: #5551ff;
  color: #2f2e41;
  font-size: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

.container_games {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #f0efef;
  padding-bottom: 15rem;
  height: 600px;
  margin: 1rem 10rem;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
