.play {
  width: 100%;

  position: relative;
  margin-top: 3.125rem;

  display: flex;
  flex-direction: column;
}

.triangle {
  position: absolute;
  align-self: center;
  margin-top: 4.375rem;
}

.items {
  display: flex;
  justify-content: center;
}

.icon {
  height: 160px;
  width: 160px;
  border: 18px solid;
  border-radius: 50%;
  transition: transform 0.2s;
}

.icon_paper {
  background-color: #fff;
  background-image: url(../public/assets/kertas.png);
  background-position: 50%;
  background-repeat: no-repeat;
  border-color: #5551ff;
  transform: translateX(2rem);
  background-size: 50%;
}

.icon_paper:hover {
  transform: translateX(2rem) scale(1.1);
}

.icon_scissors {
  background-color: #fff;
  background-image: url(../public/assets/gunting.png);
  background-position: 50%;
  background-repeat: no-repeat;
  border-color: #5551ff;
  transform: translateX(9rem);
  background-size: 50%;
}

.icon_scissors:hover {
  transform: translateX(9rem) scale(1.1);
}

.icon_rock {
  background-color: #fff;
  background-image: url(../public/assets/batu.png);
  background-position: 50%;
  background-repeat: no-repeat;
  border-color: #5551ff;
  transform: translateX(-10rem) translateY(15rem);
  background-size: 50%;
}

.icon_rock:hover {
  transform: translateX(-10rem) translateY(15rem) scale(1.1);
}

.container {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

.container_games {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #f0efef;
  padding-bottom: 15rem;
  height: 600px;
  margin: 1rem 10rem;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
