.containerAbout {
  display: flex;
  justify-content: center;
  width: 100%;
}

.containerText {
  display: flex;
  flex-direction: column;
  width: 35vw;
  margin: 1.5vh;
  box-sizing: border-box;
  margin-top: 100px;
}

.containerImage {
  display: flex;
  flex-direction: column;
  width: 40vw;
  margin: 1.5vh;
  padding: 1.5vh 0;
  box-sizing: border-box;
}

.text2 {
  margin-top: 30px;
}

.text3 {
  margin-top: 30px;
}

.text4 {
  margin-top: 30px;
}

.aboutus {
  width: 100%;
}